#titleProject {
    width: 550px;
    height: 100px;
    overflow: auto;
}
#mainGrid2 {
    margin: 20px 20px 0px 20px;
    height:100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr 200px;
}
#conceptShow2 {
    -ms-grid-column: 1;
    width: auto;
    height: 80vh; 
    margin-right: 20px; 
    border: 1px solid darkgray;
    background: #ccc;
    overflow:hidden;
}
#keyWordMap2 {
    width: 100%;
    -ms-overflow-style: none;
    height: 100%;
    position:relative;
}
.inputText2 {
  visibility: hidden;
  position:absolute;
  max-width: 150px;
  left: 0px;
  top:  0px;
}
.win-listview 
{
    -ms-grid-column: 2;
    width: auto;
    height: 80vh; 
    border: solid 2px darkgray;
}
.ListItemTemplate {
    width: 100%;
    height: 55px;
    padding:5px;
    overflow:hidden;
    display: -ms-grid;
    -ms-grid-columns: 120px 50px;
}
.ListItemTemplate-Detail {
    -ms-grid-column: 1;
    /*background-color:darkgray;*/
}
.ListItemTemplate-toggle {
    -ms-grid-column: 2;
}
#viewListView .win-viewport{
    -ms-overflow-style: none;
}
#viewListView .win-surface {
    margin:0px;
}
#viewListView .win-label {
    display:none;
}
/*.win-listview .win-container {
    margin-left:20px;
    margin-bottom:10px;
}*/
.round-button-2 {
    display:block;
    font-size:35px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    height:70px;
    width: 70px;
    min-width: 70px;
    position:relative;
    top: 45px;
    left: 25px;
}
/*.round-button:hover {
    background: #262626;
}*/