#mainGrid2 {
    margin: 20px 20px 0px 20px;
    height:100%;
    display: -ms-grid;
    -ms-grid-columns: 9fr 1fr;
}
#conceptShow2 {
    -ms-grid-column: 1;
    width: auto;
    height: 80vh; 
    margin-right: 20px; 
    border: 1px solid darkgray;
    background: #ccc;
    overflow:hidden;
}
#keyWordMap2 {
    width: 100%;
    -ms-overflow-style: none;
    height: 100%;
    position:relative;
}
.inputText2 {
  visibility: hidden;
  position:absolute;
  max-width: 150px;
  left: 0px;
  top:  0px;
}
.win-listview 
{
    -ms-grid-column: 2;
    width: auto;
    height: 80vh; 
    border: solid 2px darkgray;
}
.ListItemTemplate {
    width: auto;
    height: 70px;
    padding:10px;
    overflow:hidden;
}
.ListItemTemplate-Detail {
    height: 70px;
}

/*.win-listview .win-container {
    margin-left:20px;
    margin-bottom:10px;
}*/