.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}
#mainGrid2 {
    margin: 20px 20px 0px 40px;
    height:100%;
}
#conceptShow2 {
    width: auto;
    height: 80vh; 
    margin-right: 20px; 
    border: 1px solid darkgray;
    background: #ccc;
    overflow:hidden;
}
#keyWordMap2 {
    width: 100%;
    -ms-overflow-style: none;
    height: 100%;
    position:relative;
}
.inputText2 {
  visibility: hidden;
  position:absolute;
  max-width: 150px;
  left: 0px;
  top:  0px;
}
